.about_section{
  position: relative;
  margin-top: 132px;
  padding-bottom: 88px;
}

.rectangle{
  width: 42%;
  padding: 65px 18% 65px 13%; 
  margin-bottom: 98px;
}

.rectangle__text{
  text-align: center;
}

.about__photo{
  position: absolute;
  top: 10%;
  left: 60%;
  transform: translate(-60%, -10%);
}

.content{
  margin: 0 0 0 98px;
}

.content__title{
  margin-bottom: 112px;
  letter-spacing: 1rem;
}

.content__text{
  width: 52%;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 58px;
}