.site_bg{
  background-image: 
  linear-gradient(#10808C52, #10808C52),
  url('../../assets/bg_laptop.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: calc(100vh - 157px);
}

.content{
  padding: 75px 120px 90px 120px;
}

.content_title{
  margin-bottom: 70px;
}

.social_media{
  position: absolute;
  width: 40%;
  top: 15%;
  left: 60%;
  transform: translate(-60%, -15%);
  z-index: 1000;
}

.content_container{
  position: relative;
  padding: 90px 102.5px 70px 160px;
}

.content_container > ul > li {
  margin-bottom: 15px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  transition: box-shadow .3s ease-out;
  cursor: pointer;
}

.content_container > ul > li:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.content_container > ul > li:last-child{
  margin-bottom: 0;
}

.yellow_line,
.light_blue_line{
  position: absolute;
}

.yellow_line{
  top: 0;
  left: 8%;
}

.light_blue_line{
  top: 10%;
  left: 8%;
}

.content_wrap{
  margin-bottom: 180px;
}





