.container{
  max-width: 740px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  padding: 12px 0;
}

.logo_block,
.phone_block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_block > img{
  margin-right: 10px;
}

.phone_block > img{
  margin-right: 18px;
}


